<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lates</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">

  {% for style in styles -%}
  <link type="text/css" rel="stylesheet" href="styles/{{ style }}">
  {%- endfor %}
</head>
<body>
<h1>The Art of Digitisation</h1>
<div class="summary">
  <p>The digitisation team at the Natural History Museum are working to digitise the Museum’s entire collection
     containing 80 million specimens.</p>
  <p>Digitisation is the process of converting physical information into a digital form. This can include a range of
     information about a specimen, such as where it was collected and when, and may include images. We release our
     collections data onto the Museum’s Data Portal so that global researchers, scientists, artists and more have free
     and open access to the digital collection.</p>
  <p>The digitisation team invited members of the public to create new imagined insects inspired by our collection
     during an NHM Late event. We then imaged these artworks to create the dataset below of co-created imagined insects
     to share the Art of Digitisation.</p>
</div>
<div class="gallery-container">
  {% for img in images -%}
  <div class="gallery-tile">
    <img src="images/{{ img }}">
  </div>
  {%- endfor %}
</div>
</body>
</html>
