@media (max-width: 575px) {
    .gallery-container {
        column-count: 1;
    }
}

@media (min-width: 576px) {
    .gallery-container {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .gallery-container {
        column-count: 3;
    }
}


.gallery-container {
    max-width: 100%;
    padding: 20px;
}

.gallery-tile {
    display: inline-block;
    width: 100%;
}

.gallery-tile img {
    width: 100% !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px 0;
}

.summary {
    padding: 0 20px 10px;
}
